iv.main-container {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}

caption {
  color: #4B4B4B;
    font-size: 14pt;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
  background-color: #46983f;
    border-color: #46983f;
}

h1.title {
  color: #00529B;
  font-weight:500;
  font-size: 24pt;
  text-align: center;
}

h1 {
  color: #00529B;
  font-weight: 100;
}

h4.author {
  text-align: center;
  font-size: 12pt;
}

h4.date {
  text-align: center;
}

.tocify-subheader > .tocify-item {
  text-indent: initial;
  padding-left: 2em;
}

